/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */
vaadin-button.question-view-button-1 { background-color:rgba(59,232,53,0.95); }

vaadin-button.question-view-button-2 { background-color:rgba(235,41,25,0.75); }

vaadin-button.question-view-button-3 { background-color:rgba(24,58,102,0.24); }

vaadin-button.question-view-button-4 { background-color:rgba(225,240,15,0.84); }
